:root {
    --content-container-max-width: 800px;
    --content-max-width: min(600px, 80%);
}

* {
    margin: 0px;
    padding: 0px;
}

body { 
    min-height: 100vh; 
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

nav > ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.content {
    margin: 0px auto;
    width: min(75%, var(--content-container-max-width));
    background-color: bisque;
    flex-grow: 1;
}

.content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Helper for prototyping, needs deletion when finishing up */
.content > div * {
    background-color: burlywood;
}

#welcome-logo {
    display: flex;
    flex-direction: column;
    font-size: min(64px, 8vw);
    align-items: center;
}

#home img {
    width: var(--content-max-width);
}

#home p {
    width: var(--content-max-width);
}